<!-- Footer -->
  <footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>MyShop</h5>
          <p>Best online shop for your needs.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">About</a></li>
            <li><a href="#" class="text-light">Contact</a></li>
            <li><a href="#" class="text-light">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="text-center mt-3">&copy; 2025 MyShop. All Rights Reserved.</div>
    </div>
  </footer>